name: CI
on:
  workflow_dispatch:
  push:
    branches:
      - '**'

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      TZ: Asia/Tokyo
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.4"

      - name: Install dependencies
        run: |
          go mod tidy
          
          if [[ $(git status --porcelain) ]]; then
            echo "Error: There are uncommitted changes in the working directory after dependency install."
            git diff
            exit 1
          fi

      - name: Verify all files are formatted
        run: |
          make fmt

          if [[ $(git status --porcelain) ]]; then
            echo "Error: There are uncommitted changes in the working directory after generation."
            git diff
            exit 1
          fi

      - name: Lint
        run: make lint

      - name: Test
        run: make test
